<ion-view view-title="Account">
    <ion-content>

        <div>
			<a class="item item-thumbnail-left" href="#">
		      <img src="../img/ionic.png">
		      <h1>Nome</h1>
		      <p>Change password</p>
		    <p>Change profile picture </p>
		    </a>
        </div>
        <br><br><br>
        <div class="row">
		  	<div class="col col-20"></div>
		  	<div class="col col-50">Total movies to watch</div>
		  	<div class="col col-20">10</div>
		  	<div class="col col-10"></div>
		</div>
		<div class="row">
		  	<div class="col col-20"></div>
		  	<div class="col col-50">Total movies watched</div>
		  	<div class="col col-20">5</div>
		  	<div class="col col-10"></div>
		</div>
    </ion-content>
</ion-view>
