<div class="bar bar-header bar-energized" ng-show="replyCode">
  <h1 class="title">{{replyMessage}}</h1>
</div>
<ion-view view-title="Search">
    <ion-content>

        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Search" ng-model="movie.searchText">
            </label>

            <label class="item item-input item-select">
                <div class="input-label">
                    Search by
                </div>
                <select ng-model="selectedOpt" ng-options="option.optName for option in searchOpts">
                </select>
            </label>



            <button class="button button-block button-positive" ng-click="searchMovieBy(movie, selectedOpt)">
                Search
            </button>
        </div>

        <div class="list card" ng-repeat="movie in movies">
            <div class="row">
                <div class="col col-80">
                    <div class="item item-avatar">
                        <img src="{{movie.poster}}">
                        <h2><b>{{movie.title}}</b></h2>
                        <p><b>IMDB rating: </b>{{movie.rating}}</p>
                        <p><b>Clapper rating: </b>{{movie.appRating}}</p>
                    </div>
                </div>
                <div class="col col-20">
                    <br>
                    <button class="button button-small button-positive" ng-click="addMovieUnseen(movie.movieId)">
                        Watch later
                    </button>
                </div>
            </div>

            <div class="item item-image" >
                <img src="{{movie.poster}}">
            </div>

            <div class="item item-text-wrap" ng-show="showMore">
                <h3><b>Plot:</b></h3>
                <p>{{movie.simplePlot}}</p>
            </div>
            <div class="item item-text-wrap" ng-show="!showMore">
                <h3><b>Plot:</b></h3>
                <p>{{movie.plot}}</p>

                <h3><b>Year:</b></h3>
                <p>{{movie.year}}</p>

                <h3><b>Genres:</b></h3>
                <div ng-repeat="genre in movie.genres.genre">
                    <p>{{genre}}</p>
                </div>

                <h3><b>Actors:</b></h3>
                <div ng-repeat="actor in movie.actors.actor">
                    <div class="item item-avatar">
                        <img src="{{actor.urlPhoto}}">
                        <h2><b>{{actor.actorName}}</b></h2>
                        <p><b>Character: </b>{{actor.character}}</p>
                    </div>
                </div>
            </div>
            <div class="item item-text-wrap" ng-show="!showMore">
                <h3><b>Comments:</b></h3>
                <div ng-repeat="comment in movie.userComments">
                    <h2>{{comment.$.userName}}</h2>
                    <p><b>Comment: </b>{{comment._}}</p>
                </div>
            </div>
            <button class="item item-button button-block button-light" ng-show="showMore" ng-click="showMoreFunction()">
                Show more
            </button>
            <button class="item item-button button-block button-light" ng-show="!showMore" ng-click="showMoreFunction()">
                Show less
            </button>
        </div>
    </ion-content>
</ion-view>
