<ion-view view-title="Search">
    <ion-content>

        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Search" ng-model="movie.searchText">
            </label>

            <label class="item item-input item-select">
                <div class="input-label">
                    Search by
                </div>
                <select ng-model="selectedOpt" ng-options="option.optName for option in searchOpts">
                </select>
            </label>



            <button class="button button-block button-positive" ng-click="searchMovieBy(movie, selectedOpt)">
                Search
            </button>
        </div>

        <div class="list card" ng-repeat="movie in movies">

            <div class="item item-avatar">
                <img src="{{movie.poster}}">
                <h2><b>{{movie.name}}</b></h2>
                <p><b>IMDB rating: </b>{{movie.rating}}</p>
                <p><b>Clapper rating: </b>{{movie.appRating}}</p>
            </div>

            <div class="item item-image" >
                <img src="{{movie.poster}}">
            </div>

            <div class="item item-text-wrap">
                <h3><b>Plot:</b></h3>
                <p>{{movie.plot}}</p>
            </div>

<!--
            <div class="item item-divider">
                <h3><b>Comments:</b></h3>
                    <div class="item item-divider" ng-repeat="cmnt in comments">
                            <blockquote>
                                <b><em>"{{cmnt.descrp}}"</em> - ({{cmnt.rating}}/10):</b>

                                <br>
                                <em>"{{cmnt.content}}"</em>

                                <p>
                                <cite>by: <b>{{cmnt.id}}</b> on {{cmnt.createdOn | date: DD:MM:YY}}</cite>
                                </p>
                            </blockquote>
                    </div>
            </div>
-->
            <!-- submit review template-->
            <!--
            <div class="item item-divider" ng-hide="true">
                <!--  Review Form
                <form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewCtrl.addReview(product)">

                    <!--  Live Preview
                    <blockquote >
                        <strong>{{reviewCtrl.review.stars}} Stars</strong>
                        {{reviewCtrl.review.body}}
                        <cite class="clearfix">—{{reviewCtrl.review.author}}</cite>
                    </blockquote>

                    <!--  Review Form
                    <h4>Submit a Review</h4>
                    <fieldset class="form-group">
                        <select ng-model="reviewCtrl.review.stars" class="form-control" ng-options="stars for stars in [5,4,3,2,1]" title="Stars">
                            <option value>Rate the Product</option>
                        </select>
                    </fieldset>
                    <fieldset class="form-group">
                        <textarea ng-model="reviewCtrl.review.body" class="form-control" placeholder="Write a short review of the product..." title="Review"></textarea>
                    </fieldset>
                    <fieldset class="form-group">
                        <input ng-model="reviewCtrl.review.author" type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email" />
                    </fieldset>
                    <fieldset class="form-group">
                        <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
                    </fieldset>
                </form>
            </div>
            -->

        </div>

    </ion-content>
</ion-view>
